.bodyContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
}

.icon {
  width: 80px;
  height: 80px;
}
.navBar {
  color: #f0f8ff;
  font-size: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cairo", sans-serif;
}


