.socialLinks {
    position: fixed;
    top: 0;
    right: 0;
    height: 180px;
    background-color: #ffd116;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }