.post {
  color: #f0f8ff;
  padding: 3rem;
  margin: 5rem auto;
  font-family: "Cairo", sans-serif;
  margin-bottom: 0;
  width: 90%;
}

.image {
  max-width: 600;
  margin: 2rem auto;
  width: 100%;
}
.title {
  font-size: 53px;
  color: #f0f8ff;
  margin-bottom: 4rem;
}

.postContent {
  font-size: 23px;
  color: #f3f2f2;
  line-height: 2rem;
  font-weight: bolder;
  text-align: "center";
}
