.post {
  color: #f0f8ff;
  padding: 3rem;
  margin: 5rem auto;
  font-family: "Almarai", sans-serif;
  margin-bottom: 0;
  letter-spacing: 2px;
  /* background: url("../../../public/writer.svg") left no-repeat; */
}

.title {
  font-size: 53px;
  color: #f0f8ff;
  margin-bottom: 4rem;
}

.postContent {
  font-size: 23px;
  color: #f3f2f2;
  line-height: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: "center";
}
