@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:ital,wght@0,100;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
html,
body {
  text-align: right;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h4 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

label {
  color: #ddd;
  font-size: 1rem;
  letter-spacing: 0.1em;
  display: block;
  text-transform: uppercase;
  width: 60%;
  font-family: "Lato", sans-serif;
  margin: 0.5rem auto;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  box-shadow: 3px 3px 15px #ffffff;
  display: block;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0.8rem 0;
  width: calc(100% - 2rem);
}

textarea {
  height: 200px;
  resize: none;
}
form > .fields > .field > :last-child {
  margin-bottom: 0;
}

form > .fields > .field.half {
  width: calc(50% - 1rem);
}

form > .fields > .field.third {
  width: calc(100% / 3 - 0.66667rem);
}

form > .fields > .field.quarter {
  width: calc(25% - 0.5rem);
}

form > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  form > .fields {
    margin: -1.5rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
  }

  form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.half {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.third {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
  }
}
.about {
  text-align: left;
}
