/* .socialLinks {

  } */
.socialLinks {
  /* position: fixed;
    top: 0;
    right: 0;
    background-color: #ffd116; */
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: flex-start; */
  padding: 0 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
